@model IEnumerable<Practical.Models.EmpModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Insert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.c_emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_joining_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_dep_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.c_emp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_joining_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_dep_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.c_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.c_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.c_id })
        </td>
    </tr>
}

</table>
